@charset "UTF-8";
@font-face {font-family: Ubuntu, sans-serif;}

body {background-color:#EEEEEE;
    font-family: Ubuntu, sans-serif;}

figure{
  text-align: center;
}

a:link {
       text-decoration: none;
       color:#1E9557;
       margin-left: 0px;}
a:visited {
          text-decoration: none;
          color:#1E9557;
          /*color:#195034;*/
          margin-left: 0px;}
a:active {
         text-decoration: none;
         color:#1E9557;
         margin-left: 0px;}
a:hover {
        text-decoration: none;
        color:#000000;
        margin-left: 0px;}
.link {
      font-size: 16px;
      color:#1E9557;
      margin-top:0px;
      margin-bottom:0px;
      margin-left: 0px;}

a.title{
       font-size: 24px;
       margin-top:0px;
       margin-bottom:0px;
}
.title a{
       font-size: 24px;
       margin-top:0px;
       margin-bottom:0px;
       float:left;
}
.subtitle {
          font-size: 20px;
          margin-top:0px;
          margin-bottom:0px;
          float:left;
}
.name a{
          font-size: 14px;
          text-align:right;
          margin-top:0px;
          margin-bottom:0px;
          margin-right:10px;
          float:right;
}
.content_heading {
                 font-size: 24px;
                 font-weight: bold;
                 margin-left: 35px;
                 margin-top:10px;
                 margin-bottom:6px;}
hr{
	clear:both;
    height: 30px;
    border-style: solid;
    border-color: #bbb;
    border-width: 1px 0 0 0;
    border-radius: 10px;
}
               
p {
       font-size: 16px;
       color:#222222;
       margin-top:5px;
       width:90%;
       margin-left:5%;
       margin-bottom:5px;}

blockquote{margin-left:7%;}

.container {
  position: relative;
  overflow: hidden;
  margin-top: 20px ;
  margin-left: 30px ;
  width: 1000px;
  height: 600px;
}

.container img {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -60;
}
 
.container li img {
  position: absolute;
  top: 0;
  left: 1000px;
  z-index: -50;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

nav {
  width: 250px;
  height: 550px;
}

nav h1 {
  padding: 5px;
  text-align: left;
  font: 25px;
  color:#000000;
  margin-left: 0px;
  margin-top:0px;
  margin-bottom:2px;
}

nav ul {
  width: 250px;
  height: 460px;
  background-color: rgba(247, 247, 247,.5);
  list-style: none;
  margin: 0px;
  margin-left: 20px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
}

nav ul li{
  font-size: 16px;
  color:#555555;
  padding-left: 20px; 
  padding-top: 2px;
  padding-bottom: 3px;
} 

nav li a {
  z-index: 1;
  display: block;
  padding-left: 0px;
  width: 230px;
  height: 18px;
  color: #222222;
  text-decoration: none;
  font: 14px/30px;
}
 
nav li:nth-child(1) {
  padding-top: 10px;
}

nav li a:hover{
  color:#000000;
}

nav li a:hover + img {
  left: 0px;
}

ul{
   font-size: 16px;
   color:#222222;
   margin-left: 80px;
   padding-top: 0px;
}

ul li{
   font-size: 16px;
   color:#222222;
   padding-left: 16px; 
   padding-top: 2px;
   padding-bottom: 3px;
}

.footnote {
       font-size: 14px;
       color:#1E9557;
       margin-left: 40px;
       margin-top:0px;
       text-align:center;
   }
.img{
  text-align: center;
  margin:20px;
}

img{
  border-style: none;
  border-width: 1px;
  border-color: #5C646B;
}
.border{
  border-style: solid;
  border-width: 1px;
  border-color: #5C646B;
  margin-left: 5px;
  margin-right: 5px;
}

img.alpha{
  border-style: none;
  background-color:#F7F7F7;
}


td{
  font-size: 12px;
  color:#222222;
}